.lang {
    font-family: Arial, Helvetica, sans-serif;
    font-size:12px;
    position:relative;
    background-color: #FFFFFF;
    border: 1px solid #E5E5E5;
    display:inline-block;
    position:absolute;
}
.lang.left, .lang.left .btn {
    left:0;
}
.lang.right, .lang.right .btn {
    right:0;
}
.lang.top, .lang.top .btn {
    top:0;
}
.lang.bottom, .lang.bottom .btn {
    bottom:0;
}
.lang.top .links {
    top:20px;
    padding-bottom:30px;
}
.lang.bottom .links {
    bottom:20px;
    padding-top:30px;
}
.lang .title {
    color: #333;
    font-size: 13px;
    clear:both;
    padding-bottom:5px;
}
.lang .btn {
    background: url("../images/up-arrow.png") no-repeat scroll 10px center #666;
    cursor: pointer;
    display: inline-block;
    padding: 3px 10px 3px 30px;
    color:#fff;
    position:absolute;
}
.lang .btn.selected {
    background: url("../images/down-arrow.png") no-repeat scroll 10px center #666;
}
.lang .links {
    padding:5px 20px 5px 0;
    overflow:hidden;
    width:auto;
    position:relative;
}
.lang .links .columns {
    float: left;
    padding-left: 10px;
}
.lang .links .columns a {
    clear: both;
    color: #0071C5;
    float: left;
    font-size: 11px;
    padding: 0 0 5px;
    text-decoration:none;
}